.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 24px;


  @media screen and (width >=768px) {
    padding-inline: 40px;
    padding-top: 40px;
  }
   
  @media screen and (width >=1024px) {
    padding-inline: 165px;
    padding-top: 55px;   
  }
}

