.preorderBtn {
  text-transform: uppercase;
  font-weight: 700;
  color: #162542;
  background-color: #E8EFF2;
  border-radius: 8px;
  padding: 10px 20px;
  transition: .3s;

  &:hover {
    background-color: #162542;
    color: #FFF;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 24px;
}

.hero {
  padding-top: 64px;

  & > :not(:last-child){
    padding: 23px 24px;
  }

  &__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
    
  }

  &__description {
    font-size: 18px;
    font-weight: 500;
    padding-block: 32px;
  }
      
  &__preorderBtn{
    background-color: #F16718;
    color: #FFF;

    &:hover {
      background-color: #FF9B62;
    }
  }

  &__ctas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-end: 64px;
  }

  &__releaseDate {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__picture {   
    img {
      margin-left: 23px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      min-width: 372px;
    }
  }
}

// .features {
//   text-align: center;
//   padding-inline: 24px ;

//   & > :not(:last-child) {
//     padding-bottom: 64px;
//   }
// }

// .card {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
  
//   &__title {
//     font-size: 24px;
//     line-height: 28px;
//     font-weight: 900;
//     padding-block: 48px 24px;
//     color: #162542;
//   }

//   &__description {
//     font-weight: 500;
//     color: #7B8BAD;
//   }
// }

.keyboard {
  padding-block-start: 24px;
  
  &__images {
    display: flex;
    gap: 24px;
    padding-right: 24px;

    picture {
      position: relative;
      overflow: hidden;

      .overlay {
        position: absolute;
        inset:0;
        background-color: rgba(241, 103, 24, 0.75);
        border-radius: 8px;
        mix-blend-mode: multiply;
      }
    }
    
    .phone {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .glass {
      border-radius: 8px;
    } 
  }

  &__content {
    text-align: center;
    padding-inline: 24px;
    padding-block: 75px 111px;
  }

  &__title {
    text-transform: uppercase;
    color: #162542;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    padding-block-end:24px;
  }

  &__description {
    font-weight: 500;
  }
}



@media  screen and (width >= 768px) {
 
  .header {
    padding-inline: 40px;
    padding-top: 40px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    & > :not(:last-child) {
      padding: 23px 24px;
      padding-left: 40px;
    }

    &__content {
      padding-left: 40px;
    }

    &__ctas {
      padding-block-end: 0;
    } 
  }

  // .features {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   text-align: left;
  //   gap: 20px;
  //   padding-inline: 40px;
  // }

  // .card {
  //   align-items: start;

  //   &__title{
  //     width: 200px;
  //   }
  // }

  .keyboard {
    &__content {
      display: flex;
      text-align: left;
      padding-inline: 40px;
      align-items: center;
      gap: 24px;
    }
  }
}

@media screen and (width >=1024px) {
  .header {
    padding-inline: 165px;
    padding-top: 55px;
  }

  .hero {
    padding-inline: 165px;
    padding-top: 83px;

    & > :not(:last-child) {
      padding-left: 0px;
    }

    &__picture {
      img {
       border-radius: 8px;
      }
    }

    background-image: url('./assets/shared/pattern-square.svg');
    background-repeat: no-repeat;
    background-position: top 83px right -150px;
  }

  // .features {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 30px;
  //   padding-inline: 165px;
  // }

  .keyboard {
    display: flex;
    padding-inline: 165px;
    margin-block-end: 168px;
    padding-block-start: 30px;
    
    gap: 125px;
    background-image: url('./assets/shared/pattern-square.svg');
    background-repeat: no-repeat;
    background-position: bottom 0 left -150px;

    &__content {
      flex-direction: column;
      padding: 0;
      align-items: start;
      justify-content: center;
    }

    &__title {
      text-align: left;
      width: 200px;
    }

    &__images {
      img {
        min-height: 480px;
      }
      .phone {     
        border-radius: 8px;
        width: 225px;
      }
      .glass{
        width: 445px;
      }
    }
  }
}